
.second-departments .container .main-departments div{
    width: 40%;
}
@media(max-width:1100px){
    .container .main-departments{
       flex-direction: column;
    }
    .second-departments .container .main-departments div{
        width: 90%;
    }
}