@font-face {
  font-family: aa-aniq;
  src: url(../public/font/ArbFONTS-AA-ANIQ.otf);
}
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aa-aniq;
}
:root {
  --main-color: #02245b;
  --second-color: #2c4976;
  --third-color: #526a8e;
  --text-color: #1e1f22;
  --white-color: #fff;
  --black-color: #000;
  --bg-color: #f4f6fa;
  --main-tran: 0.3s;

}
::selection {
  color: var(--white-color);
  background-color: var(--main-color);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  direction: rtl;
  overflow-x: hidden;
  background-color: var(--bg-color);
}
.container {
  width: 90vw;
  margin: auto;
}
